annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asn1crypto==1.5.1
boto3==1.43.6
botocore==1.43.6
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
clickhouse-connect==0.15.1
cryptography==48.0.0
databricks-sql-connector==4.2.6
et_xmlfile==2.0.0
fastapi==0.136.1
filelock==3.29.0
google-api-core==2.30.3
google-auth==2.52.0
google-cloud-bigquery==3.41.0
google-cloud-core==2.6.0
google-crc32c==1.8.0
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
grpcio==1.80.0
grpcio-status==1.80.0
h11==0.16.0
idna==3.15
jmespath==1.1.0
lz4==4.4.5
numpy==2.4.4
oauthlib==3.3.1
openpyxl==3.1.5
orjson==3.11.9
packaging==25.0
pandas==2.3.3
platformdirs==4.9.6
proto-plus==1.28.0
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybreaker==1.4.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyexasol==2.2.1
PyJWT==2.12.1
pyOpenSSL==26.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.0
s3transfer==0.17.0
six==1.17.0
snowflake-connector-python==4.5.0
sortedcontainers==2.4.0
starlette==1.0.0
thrift==0.22.0
tomlkit==0.15.0
trino==0.337.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
uvicorn==0.46.0
websocket-client==1.8.0
zstandard==0.25.0
